/* Body */
body {
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-block-size: 100dvh;
  overflow-x: hidden;
}

.landing-page {
  inline-size: 100%;
  max-inline-size: 100%;
  box-sizing: border-box;
  padding-inline: var(--spacing-md);
}

/* Contenedor principal */
.admin-container {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: var(--spacing-xl); */
  padding: var(--spacing-md);
  margin: 0 auto;
}

/* Container Header */
.admin-header {
  text-align: center;
  /* margin-block-end: var(--spacing-xl); */
}

/* Título */
.admin-title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  color: var(--text-primary);
  margin: 0;
}

/* Conenedor de opciones del menú */
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  inline-size: 100%;
}