/* ================================
          LAYOUT BASE
================================ */
header, body, footer {
  max-inline-size: var(--max-width-md);
}

body {
  min-block-size: 100vh;
  font-family: var(--font-family-base);
  background-color: var(--color-gray-950);
  color: var(--color-gray-300);
  margin-inline: auto;
  overflow-x: hidden;
}

/* ===================================
MAIN CONTAINER
================================ */
main {
  display: flex;
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 100dvi;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  margin-inline: auto;
  background-color: var(--color-gray-950);
  padding-block: var(--spacing-2xl);
  padding-inline: var(--spacing-xl);
  gap: var(--spacing-xl);
}
