/* ===================================
   HEADER - BRAND LOGO
   ================================ */
header {
  grid-area: header;
  block-size: var(--header-height-xs);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  position: sticky;
  inset-block-start: 0;
  /* padding-block: var(--spacing-sm); */
  padding-inline: var(--spacing-md);
  background-color: var(--color-gray-900);
  border-block-end: 1px solid var(--color-gray-800);
  backdrop-filter: blur(var(--blur-md));
}

.return-icon {
  display: block;
  inline-size: 2rem;
  block-size: 2rem;
}


.brand-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  text-decoration: none;
  transition: transform var(--duration-normal) var(--easing-out);
}

.brand-icon {
  color: var(--color-blue-400);
  inline-size: 3rem;
  block-size: 2rem;
  flex-shrink: 0;
}


.brand-name {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-black);
  color: var(--color-white);
  letter-spacing: var(--letter-spacing-tighter);
  text-transform: uppercase;
}

.brand-highlight {
  background: linear-gradient(to bottom right,
      var(--color-blue-400),
      var(--color-lime-400));
  background-clip: text;
  color: transparent;
}

.user-badge {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}